header {
  position: relative;
  color: white;
  flex-direction: column;
  background: #00000046;
  height: 50vh;
}
header video {
  position: absolute;
  object-fit: cover;
  object-position: center;
  height: 50vh;
  width: 100%;
  filter: brightness(10px);
  z-index: -1;
}
nav {
  width: 100%;
  justify-content: space-between;
  /* background: rgba(255,255,255,0.1); */
}
.name-logo {
  border-radius: 50%;
  padding: 1rem;
}
nav h2 {
  padding: 1rem;
  font-size: 2rem;
  position: relative;
}
nav ul  {
  list-style-type: none;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bolder;
  font-size: clamp(1rem, 1.5rem, 2rem);
  padding: 1rem;
  column-gap: 2rem;
  transition: all 1s;
  margin-right: 50px;
  cursor: pointer;
}
header h1 {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 4em;
  color: yellow;
}
.menu-icon {
  position: absolute;
  top: 5%;
  right: 2%;
  font-size: 2rem;
  display: none;
}
.times-icon {
  display: none;
}

